name: backup-notion

on:
  push:
    branches:
      - main
  fork:
    branches:
      - main
  schedule:
    branches:
      - main
    - cron: "10 23,4,11 * * *" #在北京时间 早上 7:10、中午 12:10、晚上 19:10 点各备份一次，也就是每天备份三次
jobs:
  backup-notion:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "17"
      - run: npm install
      - name: build script
        run: npm run build
        continue-on-error: true
      - run: npm run run-backup ${{ secrets.NOTION_PAGE_IDS }}
      - name: backup as artifact
        uses: actions/upload-artifact@v3
        with: 
          name: notion-backup-zip
          path: backupZip